<style>

    ul {
        margin: 0;
        padding: 0;
    }

    .footer-section {
        background: #0A1633;
        position: relative;
        color: #fff;
    }

    .footer-cta {
        border-bottom: 1px solid #1D2C5E;
    }

    .single-cta i {
        color: #0077ff;
        font-size: 30px;
        float: left;
        margin-top: 8px;
    }

    .cta-text {
        padding-left: 15px;
        display: inline-block;
    }

    .cta-text h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
        color:  #0077ff;
    }

    .cta-text span {
        font-size: 15px;
        color: #B0B0B0;
    }

    .footer-content {
        position: relative;
        z-index: 2;
    }

    .footer-logo img {
        max-width: 200px;
    }

    .footer-text p {
        font-size: 14px;
        color: #C0C0C0;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .footer-social-icon span {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        display: block;
    }

    .footer-social-icon a {
        font-size: 16px;
        color: #fff;
        margin-right: 15px;
    }

    .footer-social-icon i {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
        background: #003366;
    }

    .footer-widget-heading h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
        color:  #0077ff;
    }

    .footer-widget-heading h3::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: #0077ff;
    }

    .footer-widget ul li {
        display: inline-block;
        float: left;
        width: 50%;
        margin-bottom: 12px;
    }

    .footer-widget ul li a:hover {
        color:  #0077ff;
    }

    .footer-widget ul li a {
        color: #B0B0B0;
        text-transform: capitalize;
    }

    .subscribe-form {
        position: relative;
        overflow: hidden;
    }

    .subscribe-form input {
        width: 100%;
        padding: 14px 28px;
        background: #0A1633;
        border: 1px solid #0A1633;
        color: #000000;
    }

    .subscribe-form button {
        position: absolute;
        right: 0;
        background:  #0077ff;
        padding: 13px 20px;
        border: 1px solid  #0077ff;
        top: 0;
    }

    .subscribe-form button i {
        color: #fff;
        font-size: 22px;
        transform: rotate(-6deg);
    }

    .copyright-area {
        background: #0A1633;
        padding: 25px 0;
    }

    .copyright-text p {
        font-size: 14px;
        color: #B0B0B0;
        margin: 0;
    }

    .copyright-text p a {
        color:  #0077ff;
    }

    .footer-menu li {
        display: inline-block;
        margin-left: 20px;
    }

    .footer-menu li:hover a {
        color:  #0077ff;
    }

    .footer-menu li a {
        font-size: 14px;
        color: #B0B0B0;
    }
</style>



<div class="footer-section">
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>Ishan Arcade, Thane 400605, Maharashtra</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>9080706050</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>skybank@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a><i class="fas fa-piggy-bank"></i> </a>
                            </div>
                            <div class="footer-text">
                                <p>Sky Bank: Elevating Your Finances. Simple. Secure. Seamless.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30 mt-4">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'register' %}">Create Bank Account</a></li>
                                <li><a href="{% url 'moneytransfer' %}">Money Transfer</a></li>
                                <li><a href="{% url 'applyforloan' %}">Apply For Loan</a></li>
                                <li><a href="#review">Customers Reviews</a></li>
                                <li><a href="#trustandsecure">Trust and Secure</a></li>
                                <li><a href="{% url 'contactus' %}">Contact Us</a></li>
                                <li><a href="#latestnews">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Get in Touch</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don't miss the chance to connect with us! Reach out and stay in the loop – drop us a line below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address" style="background-color: ghostwhite">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2023, All Right Reserved <a
                                    href="">ChaitanyaGaikar</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



